<p><a routerLink="/admin/product/new" class="btn btn-primary">New Product</a></p>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Title</th>
			<th scope="col">Price</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let prdouct of products">
			<th scope="row">{{ prdouct.id }}</th>
			<td>
				{{ prdouct.title }}
			</td>
			<td>{{ prdouct.price | number}}</td>
			<td>
                <a [routerLink]="['/admin/products/'+prdouct.uid]">Edit</a>
            </td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
		[collectionSize]="length"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshProducts()"
	>
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
		<option [ngValue]="2">2 items per page</option>
		<option [ngValue]="4">4 items per page</option>
		<option [ngValue]="6">6 items per page</option>
	</select>
</div>
